.jumbotron
{
    text-align: center;
    background: none;
    
}
.sectionLight{
    background-color: #eceeef;
    padding: 2rem;
}
.sectionDark{
    background-color: #cccccc;
    padding: 2rem;
}
.cricketStuffWrapper
{
    margin-top: 20px;
}

button.cricketStuff
{
    display: block;
    margin:auto;
}

h5.modal-title{
    margin: auto;
}

.finalWrapper{
    padding: 2rem;
}

img.imgsize{
    height: 17rem;
    width:22rem;
}

img.imgCenter
{
    display: block;
    margin: auto;
}

button.btnCenter
{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    width: 54%;
    
}


img.footerImg{
    padding: 10px;
}

.fa{
    margin: 10px;
}

.fa-facebook-square
{
    color: #3b5998;
}
.fa-instagram{
    color: #ffffff;
}
.fa-google-plus-square{
    color: #c32f10;
}
.socialWrapper
{
    margin: auto;
    
}